/*=========== Fonts Styles===========*/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displaybold';
    src: url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*====== Common styles =====*/

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: none;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

p {
    margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
input:invalid {
    outline: 0!important;
    box-shadow: none!important;
}

a,
a:link,
a:visited,
a:active,
a:hover, 
button {
    cursor: pointer;
    text-decoration: none;
    outline: 0
}

button {
    font-size: 18px;
    color: #fff;
    font-family: 'Lato';
    font-weight: normal;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 16px 59px;
    margin-top: 40px;
    z-index: 9;
}

button:hover {
    background-color: #fff;
    color: #fd9800;
}

.btn_yellow {
    font-size: 18px;
    color: #FE9800;
    border: 1px solid #FE9800;
    margin-top: 20px;
}

.btn_yellow:hover {
    background-color: #FE9800;
    color: #fff;
}

 .btn_black {
    font-size: 18px;
    color: #000000;
    border: 1px solid #000000;
    margin-top: 20px;
}

.btn_black:hover {
    background-color: #FE9800;
    color: #fff;
    border: 1px solid #FE9800;
}

.main_wrapper {
	width: 100%;
}

header {
	width: 100%;
	background-color: #EC9007;
}

.header_active {
	position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    animation: slide-down 0.7s;
}

.container {
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
	display: block;
}

header .container {
	height: 90px;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	background-color: #EC9007;
	justify-content: space-between;
}

.header_active .container {
    height: 60px;
}

ul.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav li a {
    color: #fff;
    font-size: 15px;
    font-family: 'Lato';
    font-weight: normal;
    padding: 0px 20px;
    text-transform: uppercase;
}

.nav li a:hover {
    color: #ffbd59;
}

.cart svg {
	width: 17px;
	height: 17px;
}

.home_menu svg {
	width: 28px;
	height: 18px;
}

/*====== Menu styles =====*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
/*  margin-top: 30px;*/
}

.overlay a {
  padding: 15px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Playfair Display';
    font-weight: normal;
    text-transform: uppercase;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
	top: 0%;
	right: 5%;
  font-size: 60px;
}

/*====== Banner styles =====*/

.banner {
	width: 100%;
	background-image: url(../images/banner_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.banner .container {
    display: flex;
    flex-direction: row;
}

.banner_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.banner_text span {
    font-size: 30px;
    color: #fff;
    font-family: 'Playfair Display';
    font-weight: normal;
    text-transform: uppercase;
}

.banner_text h1 {
    font-size: 50px;
    color: #fff;
    font-family: 'Playfair Display';
    font-weight: bold;
    text-transform: uppercase;
    line-height: 55px;
}

.banner_image {
    position: absolute;
    top: 100px;
    bottom: 0px;
    right: 0px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.banner_image img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.banner_image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/*====== Training section styles =====*/

.training {
	width: 100%;
	margin-bottom: 150px;
}

.training h2 {
    display: block;
    font-size: 50px;
    color: #FE9800;
    text-align: left;
    font-family: 'playfair_displaybold';
    margin-top: 100px;
    text-transform: uppercase;
}

.training_blk {
	width: 100%;
	margin-top: 50px;
    float: left;
}

.training_div_left {
	position: relative;
}

.training_div_left .serv {
    width: 237px;
    height: 237px;
    border-radius: 50%;
    background-color: #F8F8F8;
    display: flex;
    color: #747474;
    font-family: 'Lato';
    font-weight: normal;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 30px 76px -40px #000;
    position: absolute;
}

span.serv.crkt {
    top: 30px;
    left: 0;
}

span.serv.tenis {
	width: 211px;
    height: 211px;
    top: -10px;
    left: 190px;
    z-index: 9;
}

span.serv.fotbl {
	width: 271px;
    height: 271px;
    top: 170px;
    left: 90px;
}

.training_div_right {
    width: 50%;
    float: right;
}

.training_div_right p {
    color: #747474;
    font-size: 16px;
    line-height: 30px;
    margin-top: 50px;
}

/*====== Tennis Section styles =====*/

.tennis_blk {
    width: 100%;
    max-height: 700px;
    background-image: url(../images/tennis_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tennis_blk .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tennis_rgt_blk {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    margin-bottom: 100px;
}

.tennis_rgt_blk h2 {
    width: 240px;
    font-size: 50px;
    color: #000;
    line-height: 52px;
    font-family: 'playfair_displaybold';
    margin-bottom: 20px;
    padding-left: 23px;
}

.img_blk img {
    position: relative;
    top: -100px;
    z-index: 9;
}

/*====== Cricket Section styles =====*/

.cricket_blk {
    width: 100%;
    background-color: #FE9800;
    position: relative;
}

.cricket_blk .container {
    display: flex;
    flex-direction: row;
}

.cricket_blk_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-end;
    height: 100vh;
}

.cricket_blk_text h2 {
    font-size: 50px;
    color: #fff;
    font-family: 'Playfair Display';
    font-weight: bold;
    line-height: 55px;
}

.cricket_blk .img_blk img {
    top: -90px;
}

/*====== Product Section styles =====*/

.product_blk {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.prdct_lft {
	width: 70%;
	display: flex;
	flex-direction: column;
}

.featured {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: space-around;
	padding: 15px;
	background-color: #F8F8F8;
}

.featured p {
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    font-family: 'Playfair Display';
    font-weight: bold;
}

.featured p span {
    color: #FE9800;
    text-transform: capitalize;
}

.prdct_dwn {
	display: flex;
	flex-direction: row;
}

.prdct_mre {
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 327px;
    overflow: hidden;
    position: relative;
}

.prdct_mre img {
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 9;
}

.prdct_mre img:hover {
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.prdct_mre:before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 193, 7, 0.31);
}

.prdct_mre:hover:before,
.prdct_mre:focus:before {
  display: block;
}

.prdct_mre.lft {
	background-color: #ECECEC;
}

.prdct_mre.rgt {
	background-color: #E8DCDC;
}

.prdct_rght {
	width: 30%;
    position: relative;
    overflow: hidden;
}

.prdct_rght a {
    display: block;
    height: 100%;
    background-image: url(../images/racket_and_ball.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden;
}

.prdct_rght a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.prdct_rght a:before, .prdct_mre img:before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 193, 7, 0.31);
}

.prdct_rght a:hover:before,
.prdct_rght a:focus:before, 
.prdct_mre img:hover:before,
.prdct_mre img:focus:before {
  display: block;
}

.prdct_cntent {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 30px;
}

.prdct_cntent p {
	font-size: 25px;
	color: #000;
	line-height: 25px;
	text-transform: uppercase;
	font-family: 'Lato';
    font-weight: normal;
}

.prdct_cntent p span {
	font-size: 18px;
	text-transform: capitalize;
}

.prdct_cntent p.price {
	font-size: 35px;
	color: #FE9800;
	text-transform: capitalize;
    padding-top: 5px;
}

/*====== Footer Section styles =====*/

footer {
	padding: 21px 0px;
	background-color: #FE9800;
	color: #fff;
	font-size: 12px;
}

footer .container {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}

.social_links a {
	margin-left: 25px;
}

.social_links svg {
	width: 18px;
	height: 18px;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}



/* =====================================================================
 * RESPONSIVE
 * =====================================================================*/

@media only screen and (max-width: 1200px) {
.banner_image {
    top: 160px;
}

.banner_image img {
    width: 80%;
    position: relative;
    right: -170px;
}

.banner_text h1 {
    font-size: 40px;
    line-height: 45px;
}

.banner_text span {
    font-size: 25px;
}

button {
    padding: 15px 49px;
}

.tennis_blk {
    max-height: 600px;
}

.img_blk {
    width: 50%;
}

.img_blk img {
    top: -60px;
    max-width: 100%;
}

.tennis_rgt_blk h2 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 5px;
    padding-left: 30px;
}

.cricket_blk_text {
    justify-content: center;
    height: auto;
}

.cricket_blk_text h2 {
    font-size: 40px;
    line-height: 45px;
}
}

@media only screen and (max-width: 999px) {
.training h2 {
    font-size: 40px;
    margin-top: 60px;
}

.training_div_left .serv {
    width: 150px;
    height: 150px;
    font-size: 22px;
}

span.serv.tenis {
    width: 180px;
    height: 180px;
    left: 120px;
}

span.serv.fotbl {
    width: 220px;
    height: 220px;
    top: 110px;
    left: 70px;
}

.training {
    margin-bottom: 80px;
}

.featured p {
    font-size: 25px;
    line-height: 30px;
}

button {
    padding: 10px 40px;
    font-size: 15px;
}

.btn_black {
    font-size: 15px;
    margin-top: 15px;
}

.btn_yellow {
    font-size: 15px;
}

.prdct_cntent p {
    font-size: 22px;
    line-height: 22px;
}

.prdct_cntent p.price {
    font-size: 30px;
    padding-top: 0px;
}

.banner_image {
    display: none;
}

.banner {
    background-image: url(../images/banner_bg_mobile.jpg);
    background-size: cover;
}

.overlay a {
    font-size: 35px;
}
}

@media only screen and (max-width: 800px) {
.prdct_rght a {
    display: block;
    height: 300px;
    background-image: url(../images/racket_and_ball.png);
    background-size: 50%;
    background-position: right -90px;
}

.prdct_rght {
    width: auto;
    position: relative;
    overflow: hidden;
}

.prdct_lft {
    width: auto;
    display: flex;
    flex-direction: column;
}

.product_blk {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 900px;
}

.prdct_cntent {
    top: 60px;
    left: 70px;
}
}

@media only screen and (max-width: 767px) {
.prdct_rght a {
    background-position: right 0px;
}

footer .container {
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social_links {
    padding-top: 15px;
}

.banner_text span {
    font-size: 20px;
}

.banner_text h1 {
    font-size: 35px;
    line-height: 40px;
}

button {
    margin-top: 30px;
}

.banner {
    background-size: cover;
    height: 400px;
}

.banner .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.banner_text {
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    height: auto;
}

.training h2 {
    font-size: 30px;
    margin-top: 50px;
}

.training_div_left {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.training_div_right {
    width: 100%;
    float: left;
}

.training_blk .training_div_left .serv {
    width: 30%;
    height: auto;
    position: static;
    margin: 0px 10px;
    border-radius: 0;
    padding: 20px 0px;
}

.training_blk {
    margin-top: 40px;
}

.training_div_right p {
    margin-top: 30px;
}

.training {
    margin-bottom: 40px;
}

.tennis_blk {
    max-height: none;
}

.img_blk img {
    top: 0;
}

.tennis_rgt_blk h2 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 5px;
    padding-left: 0px;
}

.tennis_rgt_blk {
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 30px;
    align-items: flex-start;
}

.cricket_blk_text {
    padding: 50px 0px;
}

.cricket_blk_text h2 {
    font-size: 30px;
    line-height: 38px;
}

.cricket_blk .img_blk img {
    top: auto;
}

.cricket_blk .img_blk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 150px;
}
}

@media only screen and (max-width: 599px) {
.featured {
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
}

.featured p {
    text-align: center;
}

.prdct_dwn {
    flex-direction: column;
}

.prdct_mre {
    width: 100%;
    height: auto;
}

.prdct_rght a {
    background-size: contain;
}

.nav li a {
    font-size: 14px;
    padding: 0px 10px;
}

.home_menu svg {
    width: 23px;
    height: 16px;
}

.contact {
    display: none;
}

.featured img {
    max-width: 80%;
}

.training_div_left .serv {
    font-size: 18px;
}
}

@media only screen and (max-width: 400px) {
.training h2 {
    font-size: 26px;
    margin-top: 40px;
}

.training_blk {
    margin-top: 30px;
}

.img_blk, .cricket_blk .img_blk {
    display: none;
}

span.serv.tenis {
    border-bottom: 1px solid #e0dbdb;
    border-top: 1px solid #e0dbdb;
}

.training_blk .training_div_left .serv {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding-left: 20px;

}

.training_div_left {
    width: 100%;
    flex-direction: column;
}

.logo img {
    max-width: 130px;
}
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.training:after {
	content: " ";
    display: block;
    height: 0;
    clear: both;
}

a:hover, button:hover, .prdct_rght a:hover:before, 
.prdct_rght a:hover:before {
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}